# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[package]
name = "router"
version = "0.1.0"
edition = "2021"

[workspace]
members = [
    "xtask",
]

[[bin]]
name = "router"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
apollo-router = { git = "ssh://git@github.com/TheHackerApp/apollo-router.git", branch = "main" }
async-trait = "0.1"
futures = "0.3"
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-native-roots"] }
schemars = "0.8"
serde = "1"
serde_json = "1"
tokio = { version = "1", features = ["macros"] }
tower = { version = "0.4", default-features = false }
tracing = "0.1"

[workspace.dependencies]
anyhow = "1"

# this makes build scripts and proc macros faster to compile
[profile.dev.build-override]
strip = "debuginfo"
incremental = false
